<html>
<head>
</head>
<body>
	<h1>Welcome to the Timestamp Microservice!</h1>
	<div>
		<h3>In order to use the service, please navigate to the site's 
			URL and provide a date parameter in human readable or Unix 
			epoch format in seconds</h3>
		<h2>Example</h2>
		<div>
			<p>https://ancient-springs-41577.herokuapp.com/December%2015,%202015</p>
			<p>https://ancient-springs-41577.herokuapp.com/1450166400</p>
		</div>
	</div>
	<h3>Thanks for checking this out!</h3>
</body>
</html>
